.dropdownAbs {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  z-index: 2;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.dropdownUl {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownLi {
  padding: 8px 12px;
}

.dropdownLi:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.btn-timer-ctrl {
  padding: 2px;
  opacity: 0.8;
  margin: 2px;
  cursor: pointer;
}

.btn-timer-ctrl:hover {
  opacity: 1;
}

.checkButton {
  opacity: 0.8;
}

.checkButton:hover {
  opacity: 1;
}
